<nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" style="border-radius:0px;">
  <a class="navbar-brand" href="/">Quick Poll</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01">
    <span class="fui-list"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#if routeActive.index}}active{{/if}}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{#if routeActive.createpoll}}active{{/if}}">
        <a class="nav-link" href="/createpoll">Create Poll</a>
      </li>
      <li class="nav-item {{#if routeActive.trending}}active{{/if}}">
        <a class="nav-link" href="#">Trending</a>
      </li>
    </ul>
    <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</nav>