<div>
    {{>navbar}}
</div>
<h1 class="heading">Create Poll</h1>
<div class="container">
    <form method="POST" action="/createpoll/post">
        <input class="form-control form-control-lg title no-border create-poll-box" name="title" type="text" placeholder="title" required>
        <input id="option1" class="form-control no-border create-poll-box" name="option1" type="text" placeholder="option" required>
        <input id="option2" class="form-control no-border create-poll-box" name="option2" type="text" placeholder="option" required>
        <input id="option3" class="form-control no-border create-poll-box" name="option3" type="text" placeholder="option" onfocus="addNewOptionBox()" onfocusout="isEmpty(this)" required>
        <div class="more">

        </div>
        <button type="button" class="btn btn-outline-info add">Add Option</button>
        <button type="submit" class="btn btn-outline-primary" id="btn">Submit</button>
    </form>
</div>