<div class="container">
    <div class="form">
    <form>
        <input class="form-control form-control-lg title" type="text" placeholder="title">
        <input class="form-control" type="text" placeholder="option">
        <input class="form-control" type="text" placeholder="option">
        <input class="form-control" type="text" placeholder="option">
        <button class="btn btn-primary" id="btn">Submit</button>
    </form>
    </div>
    <button type="button" class="btn btn-primary test">Primary</button>
</div>