<div>
    {{>navbar}}
</div>
<div class="jumbotron vertical-center">
    <h1 class="display-3">Hello!</h1>
    <p class="lead">Anonvote allows you to create polls anonomously.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/createpoll" role="button">Create Poll</a>
    </p>
</div>