<div>
    {{>navbar}}
</div>

<h1 class="heading">Vote</h1>
<div class="container">
    <form method="POST" action="/poll/vote/post">
        <div class="poll">
            
        </div>
        <button type="submit" class="btn btn-outline-primary" id="btn">Submit</button>
    </form>
</div>