<div>
    {{>navbar}}
</div>

<div class="vote-poll-wrap">
    <form method="POST" action="/api/vote/post">
        <div class="vote-poll-title-insert">
            
        </div>
        <div class="vote-poll-options">
            <div class="vote-poll-options-insert">

            </div>
            <button type="submit" class="btn btn-primary vote-submit-btn" id="btn">Submit</button>
        </div>
    </form>
</div>