body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.heading {
  margin-top: 50px;
  text-align: center;
}

.no-border {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 6px solid #9BBD85 !important;
}

.title {
  border-left: 6px solid #FF0909 !important;
}

.form-control {
  margin-bottom: 10px;
}
a {
  color: #00B7FF;
}
